In [1]:
import pandas as pd

In [2]:
website_skill = pd.read_csv('../../static/csv/skill_3.csv')
website_skill.tail()

      id                skill
315  218           creativity
316  219         entertaining
317  220  social interactions
318  221         adaptability
319  222          spontaneity

In [3]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()
skill_mapping

{'data analysis': 1,
 'usability evaluation': 2,
 'load testing': 3,
 'software integration': 4,
 'sql (structured query language)': 5,
 'color schemes': 6,
 'authorization': 7,
 'data preprocessing': 8,
 'usability testing': 9,
 'tableau': 10,
 'database management': 11,
 'data analytics': 12,
 'mobile app development': 13,
 'scrum': 14,
 'security principles': 15,
 'code reusability': 16,
 'performance testing': 17,
 'product development': 18,
 'version control': 19,
 'defect detection': 20,
 'user interface design': 21,
 'data cleaning': 22,
 'database querying': 23,
 'api (application programming interface)': 24,
 'product strategy': 25,
 'product goals': 26,
 'collaborative development': 27,
 'source code management': 28,
 'product management': 29,
 'java programming': 30,
 'design principles': 31,
 'testing changes': 32,
 'unit testing': 33,
 'product planning': 34,
 'product manager': 35,
 'statistics': 36,
 'data dashboards': 37,
 'product roadmap': 38,
 'quality assurance': 39,
 'product launch': 40,
 'identity verification': 41,
 'agile methodology': 42,
 'android development': 43,
 'access control': 44,
 'feature prioritization': 45,
 'design tools': 46,
 'customer feedback': 47,
 'mvp (minimum viable product)': 48,
 'web services': 49,
 'prototyping': 50,
 'ui/ux design software': 51,
 'software development principles': 52,
 'user experience testing': 53,
 'complementary colors': 54,
 'data visualization': 55,
 'user-centered design': 56,
 'software testing': 57,
 'code quality': 58,
 'iterative development': 59,
 'user testing': 60,
 'median': 61,
 'consistency in design': 62,
 'product documentation': 63,
 'regression testing': 64,
 'authentication': 65,
 'color theory': 66,
 "dry (don't repeat yourself) principle": 67,
 'wireframing': 68,
 'advanced programming': 69,
 'algorithms': 70,
 'application design': 71,
 'network protocols': 72,
 'maintenance': 73,
 'design': 74,
 'engineering': 75,
 'electronics': 76,
 'language theory': 77,
 'leadership': 78,
 'technology integration': 79,
 'solution design': 80,
 'data structures': 81,
 'organizational management': 82,
 'it infrastructure': 83,
 'system integration': 84,
 'system architecture': 85,
 'presentation skills': 86,
 'advanced software engineering': 87,
 'automata theory': 88,
 'syntax': 89,
 'ethical decision-making': 90,
 'operating systems': 91,
 'analysis': 92,
 'quantitative analysis': 93,
 'software design': 94,
 'web development': 95,
 'algorithm design': 96,
 'sql': 97,
 'structured programming': 98,
 'network administration': 99,
 'advanced information security': 100,
 'application development': 101,
 'research planning': 102,
 'formal languages': 103,
 'digital circuits': 104,
 'information security': 105,
 'coding': 106,
 'modeling': 107,
 'language design': 108,
 'advanced mathematics': 109,
 'networking': 110,
 'back-end': 111,
 'technical communication': 112,
 'emerging technologies': 113,
 'research methodology': 114,
 'machine learning': 115,
 'data protection': 116,
 'systems analysis': 117,
 'entrepreneurship': 118,
 'research writing': 119,
 'data communication': 120,
 'mathematics': 121,
 'management principles': 122,
 'computer architecture': 123,
 'architecture design': 124,
 'professional development': 125,
 'network management': 126,
 'multimedia content creation': 127,
 'data management': 128,
 'administration': 129,
 'cybersecurity': 130,
 'programming': 131,
 'software engineering': 132,
 'programming languages': 133,
 'web design': 134,
 'computing ethics': 135,
 'documentation': 136,
 'multimedia technologies': 137,
 'it support': 138,
 'computer science': 139,
 'social issues': 140,
 'complexity analysis': 141,
 'research methods': 142,
 'project management': 143,
 'logic design': 144,
 'usability': 145,
 'thesis development': 146,
 'artificial intelligence': 147,
 'optimization': 148,
 'innovation': 149,
 'ai foundations': 150,
 'object-oriented design': 151,
 'it industry': 152,
 'problem-solving': 153,
 'databases': 154,
 'software development': 155,
 'professional ethics': 156,
 'interface design': 157,
 'user experience': 158,
 'technology business': 159,
 'front-end': 160,
 'hardware': 161,
 'system administration': 162,
 'assembly language': 163,
 'information organization': 164,
 'integrative programming': 165,
 'simulation': 166,
 'strategic planning': 167,
 'critical thinking': 168,
 'problem solving': 210,
 'decision making': 198,
 'management': 171,
 'strategic thinking': 172,
 'research': 173,
 'creative problem solving': 174,
 'logic': 175,
 'scientific inquiry': 176,
 'idea generation': 177,
 'adaptability': 221,
 'counseling': 180,
 'empathy': 206,
 'active listening': 200,
 'emotional intelligence': 183,
 'relationship building': 184,
 'mentorship': 185,
 'creative writing': 187,
 'artistic expression': 215,
 'advocacy': 189,
 'creative brainstorming': 191,
 'public speaking': 192,
 'organization': 194,
 'reliability': 195,
 'time management': 196,
 'process improvement': 197,
 'caregiving': 199,
 'attention to detail': 201,
 'social organizing': 203,
 'event planning': 204,
 'community building': 205,
 'troubleshooting': 207,
 'mechanical skills': 208,
 'outdoor activities': 209,
 'risk taking': 211,
 'physical activities': 212,
 'spontaneous decision making': 213,
 'emotional expression': 216,
 'individualism': 217,
 'creativity': 218,
 'entertaining': 219,
 'social interactions': 220,
 'spontaneity': 222}

In [29]:
# load csv test_
test_ = pd.read_csv('../../static/csv/test_.csv')
test_.tail()

,question_id,field_id,question,description,options,correct_option,skills_list
25,26,6,What is the practice of disguising information...,Select the security practice that involves dis...,"[""Encryption"", ""Decryption"", ""Authentication"",...",0,"['identity verification', 'authentication', 'a..."
26,27,6,"What does ""Phishing"" refer to in the context o...","What does ""Phishing"" refer to in the context o...","[""A type of cyberattack aimed at tricking user...",0,"['identity verification', 'authentication', 'a..."
27,28,6,Which security measure involves confirming the...,Identify the security practice related to user...,"[""Authentication"", ""Authorization"", ""Firewall""...",0,"['identity verification', 'authentication', 'a..."
28,29,6,"What is a ""Firewall"" in the context of network...",Choose the correct definition of a firewall.,"[""A network security device that filters and m...",0,"['access control', 'security principles', 'aut..."
29,30,6,Which security principle emphasizes providing ...,Select the security principle focused on acces...,"[""Authorization"", ""Authentication"", ""Intrusion...",0,"['access control', 'security principles', 'aut..."

In [30]:
# use ast to convert string to list
import ast
test_['skills_list'] = test_['skills_list'].apply(lambda x: ast.literal_eval(x))
test_.tail()

,question_id,field_id,question,description,options,correct_option,skills_list
25,26,6,What is the practice of disguising information...,Select the security practice that involves dis...,"[""Encryption"", ""Decryption"", ""Authentication"",...",0,"[identity verification, authentication, access..."
26,27,6,"What does ""Phishing"" refer to in the context o...","What does ""Phishing"" refer to in the context o...","[""A type of cyberattack aimed at tricking user...",0,"[identity verification, authentication, access..."
27,28,6,Which security measure involves confirming the...,Identify the security practice related to user...,"[""Authentication"", ""Authorization"", ""Firewall""...",0,"[identity verification, authentication, access..."
28,29,6,"What is a ""Firewall"" in the context of network...",Choose the correct definition of a firewall.,"[""A network security device that filters and m...",0,"[access control, security principles, authoriz..."
29,30,6,Which security principle emphasizes providing ...,Select the security principle focused on acces...,"[""Authorization"", ""Authentication"", ""Intrusion...",0,"[access control, security principles, authoriz..."

In [31]:
# apply skill mapping
test_['skill_id'] = test_['skills_list'].apply(lambda x: [skill_mapping[i] for i in x])
test_.tail()

,question_id,field_id,question,description,options,correct_option,skills_list,skill_id
25,26,6,What is the practice of disguising information...,Select the security practice that involves dis...,"[""Encryption"", ""Decryption"", ""Authentication"",...",0,"[identity verification, authentication, access...","[41, 65, 44]"
26,27,6,"What does ""Phishing"" refer to in the context o...","What does ""Phishing"" refer to in the context o...","[""A type of cyberattack aimed at tricking user...",0,"[identity verification, authentication, access...","[41, 65, 44]"
27,28,6,Which security measure involves confirming the...,Identify the security practice related to user...,"[""Authentication"", ""Authorization"", ""Firewall""...",0,"[identity verification, authentication, access...","[41, 65, 44]"
28,29,6,"What is a ""Firewall"" in the context of network...",Choose the correct definition of a firewall.,"[""A network security device that filters and m...",0,"[access control, security principles, authoriz...","[44, 15, 7]"
29,30,6,Which security principle emphasizes providing ...,Select the security principle focused on acces...,"[""Authorization"", ""Authentication"", ""Intrusion...",0,"[access control, security principles, authoriz...","[44, 15, 7]"

In [33]:
# explode skill_id
test_ = test_.explode('skill_id')
test_ = test_[['question_id', 'skill_id']]
test_.tail()

    question_id skill_id
28           29       15
28           29        7
29           30       44
29           30       15
29           30        7

In [34]:
# add id, starting to one
test_['id'] = test_.index + 1
test_.tail()

    question_id skill_id  id
28           29       15  29
28           29        7  29
29           30       44  30
29           30       15  30
29           30        7  30

In [35]:
# rename question_id to test_id
test_ = test_.rename(columns={'question_id': 'test_id'})
# reorder columns
test_ = test_[['id', 'test_id', 'skill_id']]
test_.tail()

    id  test_id skill_id
28  29       29       15
28  29       29        7
29  30       30       44
29  30       30       15
29  30       30        7

In [36]:
# save to csv
test_.to_csv('../../static/csv/assessment_test_skill_.csv', index=False)

In [37]:
# load csv subject_
subject_ = pd.read_csv('../../static/csv/subject_.csv')
subject_.tail()

,id,subject_name,description,skill_list
38,39,Systems Analysis and Design,Systems Analysis and Design focuses on analyzi...,"['systems analysis', 'solution design', 'syste..."
39,40,Applications Development and Emerging Technolo...,Applications Development and Emerging Technolo...,"['application development', 'emerging technolo..."
40,41,Information Assurance and Security 2,Information Assurance and Security 2 builds up...,"['advanced information security', 'cybersecuri..."
41,42,Systems Administration and Maintenance,Systems Administration and Maintenance covers ...,"['system administration', 'it support', 'maint..."
42,43,Social and Professional Issues in IT,Social and Professional Issues in IT explores ...,"['social issues', 'professional development', ..."

In [39]:
# use ast to convert string to list
subject_['skill_list'] = subject_['skill_list'].apply(lambda x: ast.literal_eval(x))
subject_.tail()

,id,subject_name,description,skill_list
38,39,Systems Analysis and Design,Systems Analysis and Design focuses on analyzi...,"[systems analysis, solution design, system arc..."
39,40,Applications Development and Emerging Technolo...,Applications Development and Emerging Technolo...,"[application development, emerging technologie..."
40,41,Information Assurance and Security 2,Information Assurance and Security 2 builds up...,"[advanced information security, cybersecurity,..."
41,42,Systems Administration and Maintenance,Systems Administration and Maintenance covers ...,"[system administration, it support, maintenance]"
42,43,Social and Professional Issues in IT,Social and Professional Issues in IT explores ...,"[social issues, professional development, it i..."

In [40]:
# apply skill mapping
subject_['skill_id'] = subject_['skill_list'].apply(lambda x: [skill_mapping[i] for i in x])
subject_.tail()

,id,subject_name,description,skill_list,skill_id
38,39,Systems Analysis and Design,Systems Analysis and Design focuses on analyzi...,"[systems analysis, solution design, system arc...","[117, 80, 85]"
39,40,Applications Development and Emerging Technolo...,Applications Development and Emerging Technolo...,"[application development, emerging technologie...","[101, 113, 94]"
40,41,Information Assurance and Security 2,Information Assurance and Security 2 builds up...,"[advanced information security, cybersecurity,...","[100, 130, 116]"
41,42,Systems Administration and Maintenance,Systems Administration and Maintenance covers ...,"[system administration, it support, maintenance]","[162, 138, 73]"
42,43,Social and Professional Issues in IT,Social and Professional Issues in IT explores ...,"[social issues, professional development, it i...","[140, 125, 152]"

In [41]:
# explode skill_id
subject_ = subject_.explode('skill_id')
subject_ = subject_[['id', 'skill_id']]
# rename id to subject_id
subject_ = subject_.rename(columns={'id': 'subject_id'})
subject_.tail()

    subject_id skill_id
41          42      138
41          42       73
42          43      140
42          43      125
42          43      152

In [42]:
# add id, starting to one
subject_['id'] = subject_.index + 1
subject_.tail()

    subject_id skill_id  id
41          42      138  42
41          42       73  42
42          43      140  43
42          43      125  43
42          43      152  43

In [43]:
# reorder columns
subject_ = subject_[['id', 'subject_id', 'skill_id']]
subject_.tail()

    id  subject_id skill_id
41  42          42      138
41  42          42       73
42  43          43      140
42  43          43      125
42  43          43      152

In [44]:
# save to csv
subject_.to_csv('../../static/csv/assessment_subject_skill_.csv', index=False)

In [45]:
# laod mbti_skills
mbti_skills = pd.read_csv('../../static/csv/mbti_skills.csv')
mbti_skills.tail()

,id,mbti,mbti_name,description,skill_list
11,12,ESFJ,Consul,ESFJs are social butterflies. They are outgoin...,"['social organizing', ' event planning', ' com..."
12,13,ISTP,Virtuoso,ISTPs are adventurous problem solvers. They ar...,"['troubleshooting', ' mechanical skills', ' ou..."
13,14,ESTP,Entrepreneur,ESTPs are daring thrill-seekers. They are acti...,"['risk taking', ' physical activities', ' spon..."
14,15,ISFP,Adventurer,ISFPs are artistic dreamers. They are creative...,"['artistic expression', ' emotional expression..."
15,16,ESFP,Entertainer,ESFPs are vivacious performers. They are outgo...,"['entertaining', ' social interactions', ' ada..."

In [46]:
# use ast to convert string to list
mbti_skills['skill_list'] = mbti_skills['skill_list'].apply(lambda x: ast.literal_eval(x))
mbti_skills.tail()

,id,mbti,mbti_name,description,skill_list
11,12,ESFJ,Consul,ESFJs are social butterflies. They are outgoin...,"[social organizing, event planning, communit..."
12,13,ISTP,Virtuoso,ISTPs are adventurous problem solvers. They ar...,"[troubleshooting, mechanical skills, outdoor..."
13,14,ESTP,Entrepreneur,ESTPs are daring thrill-seekers. They are acti...,"[risk taking, physical activities, spontaneo..."
14,15,ISFP,Adventurer,ISFPs are artistic dreamers. They are creative...,"[artistic expression, emotional expression, ..."
15,16,ESFP,Entertainer,ESFPs are vivacious performers. They are outgo...,"[entertaining, social interactions, adaptabi..."

In [48]:
# for each row, on each skill in list remove space in front and back
mbti_skills['skill_list'] = mbti_skills['skill_list'].apply(lambda x: [i.strip() for i in x])

In [49]:
# apply skill mapping
mbti_skills['skill_id'] = mbti_skills['skill_list'].apply(lambda x: [skill_mapping[i] for i in x])
mbti_skills.tail()

,id,mbti,mbti_name,description,skill_list,skill_id
11,12,ESFJ,Consul,ESFJs are social butterflies. They are outgoin...,"[social organizing, event planning, community ...","[203, 204, 205, 206]"
12,13,ISTP,Virtuoso,ISTPs are adventurous problem solvers. They ar...,"[troubleshooting, mechanical skills, outdoor a...","[207, 208, 209, 210]"
13,14,ESTP,Entrepreneur,ESTPs are daring thrill-seekers. They are acti...,"[risk taking, physical activities, spontaneous...","[211, 212, 213, 221]"
14,15,ISFP,Adventurer,ISFPs are artistic dreamers. They are creative...,"[artistic expression, emotional expression, in...","[215, 216, 217, 218]"
15,16,ESFP,Entertainer,ESFPs are vivacious performers. They are outgo...,"[entertaining, social interactions, adaptabili...","[219, 220, 221, 222]"

In [50]:
# explode skill_id
mbti_skills = mbti_skills.explode('skill_id')
mbti_skills = mbti_skills[['id', 'skill_id']]
# rename id to mbti_id
mbti_skills = mbti_skills.rename(columns={'id': 'mbti_id'})
mbti_skills.tail()

    mbti_id skill_id
14       15      218
15       16      219
15       16      220
15       16      221
15       16      222

In [51]:
# add id, starting to one
mbti_skills['id'] = mbti_skills.index + 1
# reorder columns
mbti_skills = mbti_skills[['id', 'mbti_id', 'skill_id']]
mbti_skills.tail()

    id  mbti_id skill_id
14  15       15      218
15  16       16      219
15  16       16      220
15  16       16      221
15  16       16      222

In [52]:
# save to csv
mbti_skills.to_csv('../../static/csv/personality_mbti_skill_.csv', index=False)

In [54]:
website_skill.head()

   id                            skill
0   1                    data analysis
1   2             usability evaluation
2   3                     load testing
3   4             software integration
4   5  sql (structured query language)

In [55]:
# save to csv
website_skill.to_csv('../../static/csv/website_skill.csv', index=False)