In [1]:
import pandas as pd
import numpy as np

In [2]:
acad_subject = pd.read_csv('../../static/csv/subject_.csv')
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"['problem-solving', 'programming', 'algorithms']"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"['programming', 'coding', 'software development']"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"['advanced programming', 'software development..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"['mathematics', 'data structures', 'computer s..."
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"['modeling', 'simulation', 'analysis']"

In [3]:
website_skill = pd.read_csv('../../static/csv/skill_1.csv')
website_skill.tail()

      id              skill
226  227  responsive design
227  228   product planning
228  229    agile practices
229  230      test engineer
230  231      motion design

In [4]:
import ast
# Convert the string representation of lists into actual lists
acad_subject['skill_list'] = acad_subject['skill_list'].apply(ast.literal_eval)
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [5]:
# on the column skill_list make it to lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [y.lower() for y in x])
acad_subject.head()

,id,subject_name,description,skill_list
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem-solving, programming, algorithms]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a..."
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]"

In [6]:
# replace '-' with ' ' in the column skill_list
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [y.replace('-', ' ') for y in x])

In [7]:
# remove 'skills' and 'skill'
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [y.replace('skills', '') for y in x])

In [8]:
# save to csv
acad_subject.to_csv('../../static/csv/subject_.csv', index=False)

In [9]:
# Create a list of skills by combining all the skills from the 'skills_list' column
subject_skills = [skill for skill_list in acad_subject['skill_list'] for skill in skill_list]

# Now, 'all_skills' contains all the skills from the DataFrame
print(subject_skills)

['problem solving', 'programming', 'algorithms', 'programming', 'coding', 'software development', 'advanced programming', 'software development', 'algorithms', 'mathematics', 'data structures', 'computer science', 'modeling', 'simulation', 'analysis', 'data structures', 'algorithms', 'optimization', 'advanced mathematics', 'computer science', 'data analysis', 'object oriented design', 'software development', 'coding', 'digital circuits', 'logic design', 'electronics', 'algorithm design', 'problem solving', 'complexity analysis', 'data management', 'information organization', 'databases', 'operating systems', 'system administration', 'computer architecture', 'technical communication', 'documentation', 'presentation ', 'research methods', 'data analysis', 'research planning', 'software development', 'emerging technologies', 'application design', 'computer architecture', 'assembly language', 'hardware', 'formal languages', 'automata theory', 'language theory', 'programming languages', 'language design', 'syntax', 'user experience', 'interface design', 'usability', 'information security', 'cybersecurity', 'data protection', 'software engineering', 'project management', 'software development', 'web development', 'front end', 'back end', 'web design', 'research writing', 'thesis development', 'research methodology', 'artificial intelligence', 'machine learning', 'ai foundations', 'networking', 'data communication', 'network protocols', 'research writing', 'thesis development', 'research methodology', 'advanced software engineering', 'software development', 'project management', 'professional ethics', 'ethical decision making', 'computing ethics', 'social issues', 'professional development', 'it industry', 'structured programming', 'problem solving', 'coding', 'network administration', 'network management', 'it infrastructure', 'quantitative analysis', 'modeling', 'simulation', 'integrative programming', 'technology integration', 'coding', 'system integration', 'architecture design', 'engineering', 'multimedia technologies', 'design', 'multimedia content creation', 'database management', 'administration', 'sql', 'management principles', 'organizational management', 'leadership', 'entrepreneurship', 'technology business', 'innovation', 'systems analysis', 'solution design', 'system architecture', 'application development', 'emerging technologies', 'software design', 'advanced information security', 'cybersecurity', 'data protection', 'system administration', 'it support', 'maintenance', 'social issues', 'professional development', 'it industry']

In [10]:
# get unique skills
unique_subject_skills = list(set(subject_skills))
print(unique_subject_skills)
# count the number of unique skills
print(len(unique_subject_skills))

['multimedia content creation', 'advanced software engineering', 'innovation', 'technical communication', 'research methods', 'problem solving', 'professional ethics', 'artificial intelligence', 'software engineering', 'back end', 'data structures', 'software development', 'entrepreneurship', 'algorithm design', 'modeling', 'usability', 'advanced information security', 'sql', 'ai foundations', 'administration', 'databases', 'complexity analysis', 'management principles', 'technology integration', 'technology business', 'assembly language', 'professional development', 'machine learning', 'hardware', 'social issues', 'software design', 'advanced mathematics', 'application design', 'computer architecture', 'documentation', 'automata theory', 'network protocols', 'computing ethics', 'cybersecurity', 'multimedia technologies', 'network management', 'networking', 'front end', 'system integration', 'solution design', 'information security', 'web development', 'system administration', 'engineering', 'algorithms', 'data analysis', 'it infrastructure', 'language design', 'simulation', 'logic design', 'database management', 'web design', 'ethical decision making', 'coding', 'it industry', 'network administration', 'information organization', 'research methodology', 'computer science', 'language theory', 'digital circuits', 'integrative programming', 'architecture design', 'emerging technologies', 'mathematics', 'system architecture', 'operating systems', 'programming languages', 'interface design', 'maintenance', 'data protection', 'quantitative analysis', 'formal languages', 'optimization', 'object oriented design', 'syntax', 'it support', 'systems analysis', 'presentation ', 'thesis development', 'data management', 'research planning', 'project management', 'leadership', 'structured programming', 'design', 'data communication', 'user experience', 'application development', 'electronics', 'analysis', 'advanced programming', 'research writing', 'organizational management', 'programming']
100

the previous wrong not going to use anymore because it made the orders messed up

so instead i will be adding the new skills on the bottom, but also making sure that there are no duplicates

In [11]:
# on website_skill, contain the skill into a list
# get the skill value of all rows in the 'skill' column
website_skill_list = website_skill['skill'].values

In [12]:
# array to list
website_skill_list = website_skill_list.tolist()

In [13]:
website_skill_list

['security analyst',
 'authentication',
 'ui/ux design software',
 'product manager',
 'testing techniques',
 'content organization',
 'data analysis',
 'authentication methods',
 'user centered design',
 'penetration testing',
 'data protection',
 'testing methods',
 'mvp',
 'sql',
 'scrum master',
 'lean startup',
 'role of a software architect',
 'design ethics',
 'defect detection',
 'black box testing',
 'software development lifecycle',
 'feature prioritization',
 'statistical analysis',
 'unit testing',
 'security incident handling',
 'acceptance criteria',
 'android development',
 'color psychology',
 'devops',
 'information hierarchy',
 'data management',
 'inclusive design',
 'design guidelines',
 'usability testing',
 'software architecture',
 'nosql',
 'agile development',
 'testing existing functionality',
 'user feedback',
 'visual perception',
 'data visualization',
 'database management',
 'restful api',
 'biometric authentication',
 'quality assurance',
 'testing changes',
 'complementary colors',
 'test automation tools',
 'testing metrics',
 'prototyping',
 'user experience',
 'risk taking',
 'design tools',
 'ethical data use',
 'ui/ux design',
 'code review',
 'agile principles',
 'cybersecurity',
 'product launch',
 'responsible ai',
 'data cleaning',
 'software development',
 'stress testing',
 'performance evaluation',
 'product management',
 'device protection',
 'user interface',
 'code coverage',
 'user experience testing',
 'cross platform testing',
 'user acceptance testing',
 'automation',
 'product roadmap',
 'identity verification',
 'data quality',
 'vulnerability identification',
 'pattern recognition',
 'testing phases',
 'iterative development',
 'learning culture',
 'big data',
 'information security',
 'performance testing',
 'lean product development',
 'environment compatibility',
 'product development',
 'scrum framework',
 'adaptability in development',
 'svn',
 'two factor authentication',
 'statistics',
 'color theory',
 'wireframing',
 'authorization',
 'ci/cd',
 'agile software development',
 'data science',
 'usability evaluation',
 'information security compliance',
 'data dashboards',
 'vulnerability management',
 'testing processes',
 'web services',
 'knowledge transfer',
 'security principles',
 'agile methodology',
 'typography',
 'stakeholder collaboration',
 'technical writer',
 'exploratory data analysis',
 'software testing',
 'user verification',
 'organizational security',
 'git',
 'agile manifesto',
 'code quality',
 'data processing',
 'information architecture',
 'access control',
 'load testing',
 'lean thinking',
 'social engineering',
 'security assessment',
 'data preprocessing',
 'api design',
 'collaborative development',
 'api',
 'iterative design',
 'interaction design',
 'version control',
 'security controls',
 'software quality assurance',
 'model performance',
 'software development life cycle',
 'code reusability',
 'tableau',
 'machine learning',
 'incident management',
 'web design',
 'empathy in design',
 'collaboration',
 'continuous integration',
 'mobile responsiveness',
 'endpoint security',
 'data scientist',
 'software integration',
 'product owner',
 'brand identity',
 'data governance',
 'java programming',
 'data ethics',
 'information manipulation',
 'build stability',
 'data analytics',
 'software development practices',
 'cybersecurity threats',
 'compatibility testing',
 'smoke testing',
 'object oriented design',
 'user navigation',
 'user personas',
 'automated testing',
 'test comprehensiveness',
 'emotional design',
 'regression testing',
 'product goals',
 'a/b testing',
 'fail cheap',
 'security measures',
 'graphic design',
 'customer feedback',
 'user interface design',
 'usability principles',
 'product success',
 'median',
 'documentation',
 'solid principles',
 'visual communication',
 'consistency in design',
 'code maintainability',
 'security policy',
 'interactive design',
 'mobile app development',
 'design principles',
 'user experience optimization',
 'data dictionary',
 'data security',
 'threat mitigation',
 'feature evaluation',
 'scrum',
 'design process',
 'dry principle',
 'software development process',
 'exploratory testing',
 'privacy',
 'experimentation',
 'testing efficiency',
 'software development principles',
 'database querying',
 'continuous improvement',
 'network security',
 'account security',
 'user testing',
 'phishing attacks',
 'security incident response plan',
 'identity management',
 'accessibility',
 'source code management',
 'ux design',
 'color schemes',
 'product documentation',
 'user interfaces',
 'animation',
 'feature engineering',
 'metadata',
 'scrum roles',
 'defect identification',
 'innovation',
 'data driven decision making',
 'compliance',
 'predictive modeling',
 'product backlog',
 'fail fast',
 'product strategy',
 'usability',
 'testing extremes',
 'responsive design',
 'product planning',
 'agile practices',
 'test engineer',
 'motion design']

In [14]:
# # append unique skills to the list of existing skills
# all__existing_skills.extend(unique_skills)

# # count the number of unique skills
# print(len(all__existing_skills))

In [15]:
# remove skills from unique_subject_skills if its on website_skill_list
unique_skills = [skill for skill in unique_subject_skills if skill not in website_skill_list]

print(len(unique_skills))

85

In [16]:
# make the unique_skills into a dataframe
unique_skills = pd.DataFrame(unique_skills, columns=['skill'])
unique_skills.head()

                           skill
0    multimedia content creation
1  advanced software engineering
2        technical communication
3               research methods
4                problem solving

In [17]:
# from website_skill get last id
last_id = website_skill['id'].iloc[-1]
print(last_id)

231

In [18]:
website_skill.tail(3)

      id            skill
228  229  agile practices
229  230    test engineer
230  231    motion design

In [19]:
# add column id to unique_skills
unique_skills['id'] = unique_skills.index + last_id + 1
unique_skills.head()

                           skill   id
0    multimedia content creation  232
1  advanced software engineering  233
2        technical communication  234
3               research methods  235
4                problem solving  236

In [20]:
unique_skills.tail(3)

                        skill   id
82           research writing  314
83  organizational management  315
84                programming  316

In [21]:
# reoder the columns
unique_skills = unique_skills[['id', 'skill']]

In [22]:
# add the new skills to the website_skill
website_skill = pd.concat([website_skill, unique_skills], axis=0)
website_skill.tail()

     id                      skill
80  312                   analysis
81  313       advanced programming
82  314           research writing
83  315  organizational management
84  316                programming

In [23]:
# save to csv
website_skill.to_csv('../../static/csv/skill_2.csv', index=False)

# Skill Mapping

In [24]:
skill_mapping = website_skill.set_index('skill')['id'].to_dict()

In [25]:
skill_mapping

{'security analyst': 1,
 'authentication': 2,
 'ui/ux design software': 3,
 'product manager': 4,
 'testing techniques': 5,
 'content organization': 6,
 'data analysis': 7,
 'authentication methods': 8,
 'user centered design': 9,
 'penetration testing': 10,
 'data protection': 11,
 'testing methods': 12,
 'mvp': 13,
 'sql': 14,
 'scrum master': 15,
 'lean startup': 16,
 'role of a software architect': 17,
 'design ethics': 18,
 'defect detection': 19,
 'black box testing': 20,
 'software development lifecycle': 21,
 'feature prioritization': 22,
 'statistical analysis': 23,
 'unit testing': 24,
 'security incident handling': 25,
 'acceptance criteria': 26,
 'android development': 27,
 'color psychology': 28,
 'devops': 29,
 'information hierarchy': 30,
 'data management': 31,
 'inclusive design': 32,
 'design guidelines': 33,
 'usability testing': 34,
 'software architecture': 35,
 'nosql': 36,
 'agile development': 37,
 'testing existing functionality': 38,
 'user feedback': 39,
 'visual perception': 40,
 'data visualization': 41,
 'database management': 42,
 'restful api': 43,
 'biometric authentication': 44,
 'quality assurance': 45,
 'testing changes': 46,
 'complementary colors': 47,
 'test automation tools': 48,
 'testing metrics': 49,
 'prototyping': 50,
 'user experience': 51,
 'risk taking': 52,
 'design tools': 53,
 'ethical data use': 54,
 'ui/ux design': 55,
 'code review': 56,
 'agile principles': 57,
 'cybersecurity': 58,
 'product launch': 59,
 'responsible ai': 60,
 'data cleaning': 61,
 'software development': 62,
 'stress testing': 63,
 'performance evaluation': 64,
 'product management': 65,
 'device protection': 66,
 'user interface': 67,
 'code coverage': 68,
 'user experience testing': 69,
 'cross platform testing': 70,
 'user acceptance testing': 71,
 'automation': 72,
 'product roadmap': 73,
 'identity verification': 74,
 'data quality': 75,
 'vulnerability identification': 76,
 'pattern recognition': 77,
 'testing phases': 78,
 'iterative development': 79,
 'learning culture': 80,
 'big data': 81,
 'information security': 82,
 'performance testing': 83,
 'lean product development': 84,
 'environment compatibility': 85,
 'product development': 86,
 'scrum framework': 87,
 'adaptability in development': 88,
 'svn': 89,
 'two factor authentication': 90,
 'statistics': 91,
 'color theory': 92,
 'wireframing': 93,
 'authorization': 94,
 'ci/cd': 95,
 'agile software development': 96,
 'data science': 97,
 'usability evaluation': 98,
 'information security compliance': 99,
 'data dashboards': 100,
 'vulnerability management': 101,
 'testing processes': 102,
 'web services': 103,
 'knowledge transfer': 104,
 'security principles': 105,
 'agile methodology': 106,
 'typography': 107,
 'stakeholder collaboration': 108,
 'technical writer': 109,
 'exploratory data analysis': 110,
 'software testing': 111,
 'user verification': 112,
 'organizational security': 113,
 'git': 114,
 'agile manifesto': 115,
 'code quality': 116,
 'data processing': 117,
 'information architecture': 118,
 'access control': 119,
 'load testing': 120,
 'lean thinking': 121,
 'social engineering': 122,
 'security assessment': 123,
 'data preprocessing': 124,
 'api design': 125,
 'collaborative development': 126,
 'api': 127,
 'iterative design': 128,
 'interaction design': 129,
 'version control': 130,
 'security controls': 131,
 'software quality assurance': 132,
 'model performance': 133,
 'software development life cycle': 134,
 'code reusability': 135,
 'tableau': 136,
 'machine learning': 137,
 'incident management': 138,
 'web design': 139,
 'empathy in design': 140,
 'collaboration': 141,
 'continuous integration': 142,
 'mobile responsiveness': 143,
 'endpoint security': 144,
 'data scientist': 145,
 'software integration': 146,
 'product owner': 147,
 'brand identity': 148,
 'data governance': 149,
 'java programming': 150,
 'data ethics': 151,
 'information manipulation': 152,
 'build stability': 153,
 'data analytics': 154,
 'software development practices': 155,
 'cybersecurity threats': 156,
 'compatibility testing': 157,
 'smoke testing': 158,
 'object oriented design': 159,
 'user navigation': 160,
 'user personas': 161,
 'automated testing': 162,
 'test comprehensiveness': 163,
 'emotional design': 164,
 'regression testing': 165,
 'product goals': 166,
 'a/b testing': 167,
 'fail cheap': 168,
 'security measures': 169,
 'graphic design': 170,
 'customer feedback': 171,
 'user interface design': 172,
 'usability principles': 173,
 'product success': 174,
 'median': 175,
 'documentation': 176,
 'solid principles': 177,
 'visual communication': 178,
 'consistency in design': 179,
 'code maintainability': 180,
 'security policy': 181,
 'interactive design': 182,
 'mobile app development': 183,
 'design principles': 184,
 'user experience optimization': 185,
 'data dictionary': 186,
 'data security': 187,
 'threat mitigation': 188,
 'feature evaluation': 189,
 'scrum': 190,
 'design process': 191,
 'dry principle': 192,
 'software development process': 193,
 'exploratory testing': 194,
 'privacy': 195,
 'experimentation': 196,
 'testing efficiency': 197,
 'software development principles': 198,
 'database querying': 199,
 'continuous improvement': 200,
 'network security': 201,
 'account security': 202,
 'user testing': 203,
 'phishing attacks': 204,
 'security incident response plan': 205,
 'identity management': 206,
 'accessibility': 207,
 'source code management': 208,
 'ux design': 209,
 'color schemes': 210,
 'product documentation': 211,
 'user interfaces': 212,
 'animation': 213,
 'feature engineering': 214,
 'metadata': 215,
 'scrum roles': 216,
 'defect identification': 217,
 'innovation': 218,
 'data driven decision making': 219,
 'compliance': 220,
 'predictive modeling': 221,
 'product backlog': 222,
 'fail fast': 223,
 'product strategy': 224,
 'usability': 225,
 'testing extremes': 226,
 'responsive design': 227,
 'product planning': 228,
 'agile practices': 229,
 'test engineer': 230,
 'motion design': 231,
 'multimedia content creation': 232,
 'advanced software engineering': 233,
 'technical communication': 234,
 'research methods': 235,
 'problem solving': 236,
 'professional ethics': 237,
 'artificial intelligence': 238,
 'software engineering': 239,
 'back end': 240,
 'data structures': 241,
 'entrepreneurship': 242,
 'algorithm design': 243,
 'modeling': 244,
 'advanced information security': 245,
 'ai foundations': 246,
 'administration': 247,
 'databases': 248,
 'complexity analysis': 249,
 'management principles': 250,
 'technology integration': 251,
 'technology business': 252,
 'assembly language': 253,
 'professional development': 254,
 'hardware': 255,
 'social issues': 256,
 'software design': 257,
 'advanced mathematics': 258,
 'application design': 259,
 'computer architecture': 260,
 'automata theory': 261,
 'network protocols': 262,
 'computing ethics': 263,
 'multimedia technologies': 264,
 'network management': 265,
 'networking': 266,
 'front end': 267,
 'system integration': 268,
 'solution design': 269,
 'web development': 270,
 'system administration': 271,
 'engineering': 272,
 'algorithms': 273,
 'it infrastructure': 274,
 'language design': 275,
 'simulation': 276,
 'logic design': 277,
 'ethical decision making': 278,
 'coding': 279,
 'it industry': 280,
 'network administration': 281,
 'information organization': 282,
 'research methodology': 283,
 'computer science': 284,
 'language theory': 285,
 'digital circuits': 286,
 'integrative programming': 287,
 'architecture design': 288,
 'emerging technologies': 289,
 'mathematics': 290,
 'system architecture': 291,
 'operating systems': 292,
 'programming languages': 293,
 'interface design': 294,
 'maintenance': 295,
 'quantitative analysis': 296,
 'formal languages': 297,
 'optimization': 298,
 'syntax': 299,
 'it support': 300,
 'systems analysis': 301,
 'presentation ': 302,
 'thesis development': 303,
 'research planning': 304,
 'project management': 305,
 'leadership': 306,
 'structured programming': 307,
 'design': 308,
 'data communication': 309,
 'application development': 310,
 'electronics': 311,
 'analysis': 312,
 'advanced programming': 313,
 'research writing': 314,
 'organizational management': 315,
 'programming': 316}

In [26]:
# on acad_subject, "skill_list" column, make it all lower case
acad_subject['skill_list'] = acad_subject['skill_list'].apply(lambda x: [skill.lower() for skill in x])

In [27]:
# apply the skill mapping to acad_subject
acad_subject['skill_id'] = acad_subject['skill_list'].apply(lambda x: [skill_mapping[skill] for skill in x])
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem solving, programming, algorithms]","[236, 316, 273]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[316, 279, 62]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[313, 62, 273]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[290, 241, 284]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[244, 276, 312]"

In [28]:
subject_skill = acad_subject.explode('skill_id')
# get only question_id and skills_list
subject_skill = subject_skill[['id', 'skill_id']]
subject_skill

    id skill_id
0    1      236
0    1      316
0    1      273
1    2      316
1    2      279
..  ..      ...
41  42      300
41  42      295
42  43      256
42  43      254
42  43      280

[130 rows x 2 columns]

In [29]:
subject_skill = subject_skill.rename(columns={'id': 'subject_id', 'skill_id': 'skill_id'})

# add id 
subject_skill['id'] = subject_skill.index + 1
# reoder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id skill_id
0   1           1      236
0   1           1      316
0   1           1      273
1   2           2      316
1   2           2      279

In [30]:
# save to csv
subject_skill.to_csv('../../static/csv/acad_subject_skill.csv', index=False)

In [31]:
acad_subject.head()

,id,subject_name,description,skill_list,skill_id
0,1,Introduction to Computing,Introduction to Computing is a fundamental cou...,"[problem solving, programming, algorithms]","[236, 316, 273]"
1,2,Computer Programming 1,Computer Programming 1 covers the basics of pr...,"[programming, coding, software development]","[316, 279, 62]"
2,3,Computer Programming 2,Computer Programming 2 builds upon the concept...,"[advanced programming, software development, a...","[313, 62, 273]"
3,4,Discrete Structures 1,Discrete Structures 1 explores mathematical st...,"[mathematics, data structures, computer science]","[290, 241, 284]"
4,5,Modeling and Simulation,Modeling and Simulation is a course that focus...,"[modeling, simulation, analysis]","[244, 276, 312]"

In [32]:
# get only the id, subject_name, and description columns
acad_subject = acad_subject[['id', 'subject_name', 'description']]

# save to csv
acad_subject.to_csv('../../static/csv/acad_subject.csv', index=False)

In [33]:
# save website_skill to csv
website_skill.to_csv('../../static/csv/website_skill.csv', index=False)

In [34]:
# load acad_subject_skills.csv
subject_skill = pd.read_csv('../../static/csv/acad_subject_skills.csv')
subject_skill.head()

   id  subject_id  skill_id
0   1           1       153
1   2           1       131
2   3           1        70
3   4           2       131
4   5           2       106

In [35]:
# delete column id
del subject_skill['id']
# create id column, starint from 1
subject_skill['id'] = subject_skill.index + 1
# reorder the columns
subject_skill = subject_skill[['id', 'subject_id', 'skill_id']]
subject_skill.head()

   id  subject_id  skill_id
0   1           1       153
1   2           1       131
2   3           1        70
3   4           2       131
4   5           2       106

In [37]:
subject_skill.tail()

      id  subject_id  skill_id
125  126          42       138
126  127          42        73
127  128          43       140
128  129          43       125
129  130          43       152

In [36]:
# save csv
subject_skill.to_csv('../../static/csv/acad_subject_skills.csv', index=False)

# Fixing id

In [1]:
import numpy as np
import pandas as pd

In [2]:
# load csv acad_subject_skills
subject_skill = pd.read_csv('../../static/csv/acad_subject_skills.csv')
subject_skill.head()

   id  subject_id  skill_id
0   1           1       153
1   2           1       131
2   3           1        70
3   4           2       131
4   5           2       106

In [3]:
subject_skill.tail()

      id  subject_id  skill_id
125  126          42       138
126  127          42        73
127  128          43       140
128  129          43       125
129  130          43       152