In [1]:
import pandas as pd
import numpy as np
import ast

In [13]:
# load csv
specialization = pd.read_csv('../../static/csv/specialization3_skills.csv')
specialization.head()

,specialization_id,title,description,roadmap_id,field_id,skill_list
0,1,Front-End,Front-End Developers are responsible for creat...,1,1,"['html', 'css', 'javascript', 'web design', 'r..."
1,2,Back-End,Back-End Developers work on the server-side of...,2,1,"['node.js', 'python', 'ruby', 'java', 'databas..."
2,3,Full Stack,Full Stack Developers have expertise in both F...,3,1,"['front-end', 'back-end', 'full stack framewor..."
3,4,Software Engineer,Software Engineers design and develop software...,4,1,"['software development', 'algorithm design', '..."
4,5,Software Developer,"Software Developers write, test, and maintain ...",5,1,"['java', 'python', 'c++', 'software design', '..."

In [14]:
# load csv
website_skill = pd.read_csv('../../static/csv/skill_4.csv')
website_skill.head()

   id                  skill
0   1       security analyst
1   2         authentication
2   3  ui/ux design software
3   4        product manager
4   5     testing techniques

In [15]:
# apply ast to convert string to list
specialization['skills'] = specialization['skill_list'].apply(ast.literal_eval)
specialization.sample(3)

,specialization_id,title,description,roadmap_id,field_id,skill_list,skills
33,34,It Business Analyst,IT Business Analysts bridge the gap between bu...,34,9,"['business analysis', 'requirements gathering'...","[business analysis, requirements gathering, pr..."
79,80,Support Engineer/Technician,support engineer/technician,80,10,"['voip engineer', 'network engineering', 'netw...","[voip engineer, network engineering, networkin..."
73,74,Senior Programmer,senior programmer,74,10,"['tools', 'php', 'sales process', 'operations'...","[tools, php, sales process, operations, oracle..."

In [16]:
# # Group by 'specialization' and aggregate skills with their frequencies
# specialization = specialization.groupby('title')['skills'].sum().reset_index()
# # fill na with 0
# specialization['skills'] = specialization['skills'].fillna(0)
# specialization.sample(3)

In [17]:
# remove empty '' in skills
specialization['skills'] = specialization['skills'].apply(lambda x: [i for i in x if i != ''])

In [18]:
# # aggregate skills with their frequencies
# specialization = specialization.groupby('title')['skills'].sum().reset_index()
# # fill na with 0
# specialization['skills'] = specialization['skills'].fillna(0)
# specialization.sample(3)

In [19]:
specialization.sample(3)

,specialization_id,title,description,roadmap_id,field_id,skill_list,skills
23,24,Cybersecurity Analyst,Cybersecurity Analysts protect an organization...,24,6,"['cybersecurity principles', 'security tools',...","[cybersecurity principles, security tools, fir..."
45,46,Consultant,consultant,46,9,"['customization', 'open', 'cvs', 'rest', 'tech...","[customization, open, cvs, rest, technical, e-..."
40,41,Edge Computing Engineer,Edge Computing Engineers design and implement ...,41,10,"['edge computing', 'iot (internet of things)',...","[edge computing, iot (internet of things), dis..."

In [20]:
# Get all the unique skills.
unique_skills = []
for i in specialization['skills']:
    unique_skills += i

In [21]:
# get website skills
website_skill_list = website_skill['skill'].tolist()

In [22]:
# add website skills to unique skills
unique_skills += website_skill_list

In [23]:
# remove duplicates
unique_skills = list(set(unique_skills))

In [24]:
# remove blank ''
unique_skills = [i for i in unique_skills if i != '']

In [25]:
# remove ' ' 
unique_skills = [i for i in unique_skills if i != ' ']

In [26]:
# get samples
unique_skills[:5]

['oracle cloud ppm implementations',
 'scanning',
 'catalog management',
 'client interfacing',
 'windows application']

In [27]:
# Create a new data frame with the unique skills as columns.
specialization_sparse = pd.DataFrame(columns=['title'] + list(unique_skills))
specialization_sparse.head()

Empty DataFrame
Columns: [title, oracle cloud ppm implementations, scanning, catalog management, client interfacing, windows application, systemc, git, integration, visual effects, styling, production support, cyber security, ms - sql server, fpga, hardware support, pd, web application security, software configuration management, delivery management, post sales, personnel administration, network architecture, webservices testing, good communication skill, prime, design analysis, sql server development, sales automation, performance review, strong communication, oracle fusion, public relations, office, customer support, desktop, mariadb, tcp, activemq, outdoor activities, sap implementation, code optimization, lead data scientist, cross selling, sap abap consultant, ls - dyna, malware analysis, black box, badi, manual functional testing, it compliance, sans, enterprise sales, guru, java scripts, php mysql ajax, java servlets, media planning, guest, good communication skills, dlls, micro services, data warehouse, b.tech, tech lead, development testing, credit cards, design verification, iphone sdk, call manager, computer languages, atg commerce, apache spark, reliability, documents, rtr, gis software, siem, vmware, web standards, advisory, cv, oracle manufacturing, ror, etl processes, zencart, ixia, engineering manager, invoice verification, ems, e   commerce, corporate affairs, sql queries, fluent english, devexpress, biotechnology, people tools, marketing operations, security analysis, jaxb, ...]
Index: []

[0 rows x 4822 columns]

In [28]:
# Iterate over the specialization data frame and fill in the new data frame.
for i in range(len(specialization)):
    title = specialization.loc[i, 'title']
    skills = specialization.loc[i, 'skills']

    # Create a dictionary mapping skill names to their frequencies.
    skill_counts = {}
    for skill in skills:
        if skill not in skill_counts:
            skill_counts[skill] = 0
        skill_counts[skill] += 1

    # Fill in the new data frame.
    specialization_sparse.loc[i, 'title'] = title
    for skill in unique_skills:
        if skill in skill_counts:
            specialization_sparse.loc[i, skill] = skill_counts[skill]
        else:
            specialization_sparse.loc[i, skill] = 0

In [29]:
specialization_sparse.sample(10)

,title,oracle cloud ppm implementations,scanning,catalog management,client interfacing,windows application,systemc,git,integration,visual effects,...,swt,business process,jde,change management,mail,back office operations,business process re engineering,ups,pivot table,banking software
90,Ui/Ux Developer,0,0,0,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Business Analyst,0,0,0,0,0,0,1,0,0,...,0,20,0,17,1,0,0,1,0,0
46,Database Administrator,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
88,Trainee,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Quantum Computing Scientist,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Security Engineer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,Subject Matter Expert,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,Servicenow Developer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Ethical Hacker (Penetration Tester),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,Developer,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [30]:
# Calculate total skills for each role
specialization_sparse['total_skills'] = specialization_sparse.drop('title', axis=1).sum(axis=1)
specialization_sparse.head()

,title,oracle cloud ppm implementations,scanning,catalog management,client interfacing,windows application,systemc,git,integration,visual effects,...,business process,jde,change management,mail,back office operations,business process re engineering,ups,pivot table,banking software,total_skills
0,Front-End,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1,Back-End,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
2,Full Stack,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,Software Engineer,0,0,0,0,1,1,30,1,0,...,1,0,6,0,0,0,0,0,0,7115
4,Software Developer,0,0,0,0,0,0,1,0,1,...,2,0,1,0,0,0,1,0,1,1697

In [31]:
# Normalize skill frequencies by dividing by total skills
specialization_sparse.iloc[:, 1:-1] = specialization_sparse.iloc[:, 1:-1].div(specialization_sparse.total_skills, axis=0)
specialization_sparse.head()

,title,oracle cloud ppm implementations,scanning,catalog management,client interfacing,windows application,systemc,git,integration,visual effects,...,business process,jde,change management,mail,back office operations,business process re engineering,ups,pivot table,banking software,total_skills
0,Front-End,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
1,Back-End,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
2,Full Stack,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,Software Engineer,0.0,0.0,0.0,0.0,0.000141,0.000141,0.004216,0.000141,0.0,...,0.000141,0.0,0.000843,0.0,0.0,0.0,0.0,0.0,0.0,7115
4,Software Developer,0.0,0.0,0.0,0.0,0.0,0.0,0.000589,0.0,0.000589,...,0.001179,0.0,0.000589,0.0,0.0,0.0,0.000589,0.0,0.000589,1697

In [32]:
specialization_sparse.sample(3)

,title,oracle cloud ppm implementations,scanning,catalog management,client interfacing,windows application,systemc,git,integration,visual effects,...,business process,jde,change management,mail,back office operations,business process re engineering,ups,pivot table,banking software,total_skills
58,Javascript Developer,0.0,0.0,0.0,0.0,0.0,0.0,0.011628,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86
74,Servicenow Developer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45
50,Frontend Developer,0.0,0.0,0.0,0.0,0.0,0.0,0.010417,0.0,0.0,...,0.001157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,864

In [33]:
# from specialization include field_id to specialization_sparse
specialization_sparse = pd.merge(specialization_sparse, specialization[['title', 'field_id']], on='title')

In [34]:
specialization_sparse

,title,oracle cloud ppm implementations,scanning,catalog management,client interfacing,windows application,systemc,git,integration,visual effects,...,jde,change management,mail,back office operations,business process re engineering,ups,pivot table,banking software,total_skills,field_id
0,Front-End,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,1
1,Back-End,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,1
2,Full Stack,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,1
3,Software Engineer,0.0,0.0,0.0,0.0,0.000141,0.000141,0.004216,0.000141,0.0,...,0.0,0.000843,0.0,0.0,0.0,0.0,0.0,0.0,7115,1
4,Software Developer,0.0,0.0,0.0,0.0,0.0,0.0,0.000589,0.0,0.000589,...,0.0,0.000589,0.0,0.0,0.0,0.000589,0.0,0.000589,1697,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Technical Support Engineer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,87,10
94,Trainee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,121,10
95,Trainer/Faculty,0.0,0.0,0.020408,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49,10
96,Ui/Ux Developer,0.0,0.0,0.0,0.0,0.0,0.0,0.005575,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1435,3
97,Web Developer,0.0,0.0,0.0,0.0,0.0,0.0,0.003371,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000421,0.0,0.0,2373,1

In [35]:
# move field_id column to the second column
cols = specialization_sparse.columns.tolist()
cols = cols[-1:] + cols[:-1]
specialization_sparse = specialization_sparse[cols]
specialization_sparse.head()

,field_id,title,oracle cloud ppm implementations,scanning,catalog management,client interfacing,windows application,systemc,git,integration,...,business process,jde,change management,mail,back office operations,business process re engineering,ups,pivot table,banking software,total_skills
0,1,Front-End,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
1,1,Back-End,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
2,1,Full Stack,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,1,Software Engineer,0.0,0.0,0.0,0.0,0.000141,0.000141,0.004216,0.000141,...,0.000141,0.0,0.000843,0.0,0.0,0.0,0.0,0.0,0.0,7115
4,1,Software Developer,0.0,0.0,0.0,0.0,0.0,0.0,0.000589,0.0,...,0.001179,0.0,0.000589,0.0,0.0,0.0,0.000589,0.0,0.000589,1697

In [36]:
# save to csv
specialization_sparse.to_csv('specialization_sparse.csv', index=False)

In [37]:
# load csv
specialization_sparse = pd.read_csv('specialization_sparse.csv')

In [38]:
specialization_sparse

,field_id,title,oracle cloud ppm implementations,scanning,catalog management,client interfacing,windows application,systemc,git,integration,...,business process,jde,change management,mail,back office operations,business process re engineering,ups,pivot table,banking software,total_skills
0,1,Front-End,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,9
1,1,Back-End,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,10
2,1,Full Stack,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,4
3,1,Software Engineer,0.0,0.0,0.000000,0.0,0.000141,0.000141,0.004216,0.000141,...,0.000141,0.0,0.000843,0.0,0.0,0.0,0.000000,0.0,0.000000,7115
4,1,Software Developer,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000589,0.000000,...,0.001179,0.0,0.000589,0.0,0.0,0.0,0.000589,0.0,0.000589,1697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,10,Technical Support Engineer,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,87
94,10,Trainee,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,121
95,10,Trainer/Faculty,0.0,0.0,0.020408,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,49
96,3,Ui/Ux Developer,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.005575,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,1435
97,1,Web Developer,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.003371,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000421,0.0,0.000000,2373

### test verification

In [2]:
# laod csv
field_skill = pd.read_csv('field_skills_tfidf.csv')
field_skill.head()

,field_id,08,10g,11g,178b,2000,2005,2007,2008,26262,...,years,yii,yui,zabbix,zencart,zend,zigbee,zonal,zoology,zope
0,2,0.000000,0.016160,0.032844,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.007794,0.0,0.00000,0.00000,0.000000
1,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.006735,0.0,0.00000,0.00000,0.000000
2,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.001665,0.000000,0.000000,0.000000,0.002409,0.0,0.00203,0.00203,0.000000
3,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.000000
4,1,0.000534,0.000875,0.000000,0.000534,0.001067,0.002135,0.001067,0.008538,0.000534,...,0.000534,0.004376,0.000534,0.000534,0.000534,0.016146,0.0,0.00000,0.00000,0.000534

In [9]:
field_6 = field_skill[field_skill['field_id'] == 6]
#filter columns where value is greater than 0.05
field_6 = field_6[field_6.iloc[:, 1:] > 0.1].dropna(axis=1)
field_6

,access,assessment,authentication,authorization,control,cybersecurity,identity,incident,information,management,measures,protection,security,verification,vulnerability
3,0.201532,0.131771,0.27543,0.111961,0.129219,0.367239,0.139486,0.116268,0.168978,0.139159,0.111961,0.111961,0.685854,0.132844,0.106275

In [14]:
# on field_skill, foreach field_id, filter columns of the top 10 skills
field_skill_top10 = pd.DataFrame()
for i in range(1, 16):
    field = field_skill[field_skill['field_id'] == i]
    field = field[field.iloc[:, 1:] > 0.5].dropna(axis=1)
    field_skill_top10 = pd.concat([field_skill_top10, field])
# remove columns if all is NaN
field_skill_top10 = field_skill_top10.dropna(axis=1, how='all')
field_skill_top10

       data    design  management  testing  security
4       NaN       NaN         NaN      NaN       NaN
0  0.743554       NaN         NaN      NaN       NaN
1       NaN  0.532213         NaN      NaN       NaN
2       NaN       NaN    0.593871      NaN       NaN
5       NaN       NaN         NaN   0.7311       NaN
3       NaN       NaN         NaN      NaN  0.685854

In [13]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.4-cp38-cp38-win_amd64.whl.metadata (5.8 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.1-cp38-cp38-win_amd64.whl.metadata (5.9 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.45.0-cp38-cp38-win_amd64.whl.metadata (158 kB)
     ---------------------------------------- 0.0/158.1 kB ? eta -:--:--
     -------------------------------------- 158.1/158.1 kB 4.6 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp38-cp38-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy<2,>=1.20 in c:\users\aky\appdata\local\programs\python\python38\datasci\lib\site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: packaging>=20.0 in c:\users\aky\appdata\local\programs\python\python38\datasci\lib\site-packages (from matplotlib) (23.2)
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading Pillow-10.1.0-cp38-cp38-win_amd64.whl.metadata (9.6 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\aky\appdata\local\programs\python\python38\datasci\lib\site-packages (from matplotlib) (2.8.2)
Collecting importlib-resources>=3.2.0 (from matplotlib)
  Downloading importlib_resources-6.1.1-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: zipp>=3.1.0 in c:\users\aky\appdata\local\programs\python\python38\datasci\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.17.0)
Requirement already satisfied: six>=1.5 in c:\users\aky\appdata\local\programs\python\python38\datasci\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.7.4-cp38-cp38-win_amd64.whl (7.5 MB)
   ---------------------------------------- 0.0/7.5 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.5 MB 8.3 MB/s eta 0:00:01
   --- ------------------------------------ 0.6/7.5 MB 6.0 MB/s eta 0:00:02
   ---- ----------------------------------- 0.8/7.5 MB 5.5 MB/s eta 0:00:02
   ----- ---------------------------------- 1.1/7.5 MB 5.7 MB/s eta 0:00:02
   ------- -------------------------------- 1.4/7.5 MB 6.1 MB/s eta 0:00:02
   --------- ------------------------------ 1.7/7.5 MB 5.8 MB/s eta 0:00:02
   ---------- ----------------------------- 2.0/7.5 MB 6.1 MB/s eta 0:00:01
   ------------ --------------------------- 2.3/7.5 MB 5.9 MB/s eta 0:00:01
   -------------- ------------------------- 2.6/7.5 MB 6.0 MB/s eta 0:00:01
   --------------- ------------------------ 2.9/7.5 MB 5.9 MB/s eta 0:00:01
   ----------------- ---------------------- 3.3/7.5 MB 5.9 MB/s eta 0:00:01
   ------------------ --------------------- 3.6/7.5 MB 5.8 MB/s eta 0:00:01
   -------------------- ------------------- 3.8/7.5 MB 5.8 MB/s eta 0:00:01
   ---------------------- ----------------- 4.1/7.5 MB 5.7 MB/s eta 0:00:01
   ----------------------- ---------------- 4.4/7.5 MB 5.8 MB/s eta 0:00:01
   ------------------------ --------------- 4.5/7.5 MB 5.8 MB/s eta 0:00:01
   -------------------------- ------------- 4.9/7.5 MB 5.8 MB/s eta 0:00:01
   ---------------------------- ----------- 5.3/7.5 MB 5.8 MB/s eta 0:00:01
   ----------------------------- ---------- 5.6/7.5 MB 5.9 MB/s eta 0:00:01
   ------------------------------- -------- 5.9/7.5 MB 5.8 MB/s eta 0:00:01
   -------------------------------- ------- 6.1/7.5 MB 5.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.4/7.5 MB 5.8 MB/s eta 0:00:01
   ----------------------------------- ---- 6.6/7.5 MB 5.8 MB/s eta 0:00:01
   ------------------------------------- -- 7.0/7.5 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  7.3/7.5 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  7.5/7.5 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------- 7.5/7.5 MB 5.3 MB/s eta 0:00:00
Downloading contourpy-1.1.1-cp38-cp38-win_amd64.whl (477 kB)
   ---------------------------------------- 0.0/477.9 kB ? eta -:--:--
   --------------------- ------------------ 256.0/477.9 kB 7.9 MB/s eta 0:00:01
   ---------------------------------------  471.0/477.9 kB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 477.9/477.9 kB 6.0 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.45.0-cp38-cp38-win_amd64.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   -------- ------------------------------- 0.3/1.5 MB 6.5 MB/s eta 0:00:01
   --------------- ------------------------ 0.6/1.5 MB 5.9 MB/s eta 0:00:01
   ---------------------- ----------------- 0.8/1.5 MB 6.0 MB/s eta 0:00:01
   ---------------------------- ----------- 1.1/1.5 MB 5.6 MB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.5 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 5.5 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 5.0 MB/s eta 0:00:00
Downloading importlib_resources-6.1.1-py3-none-any.whl (33 kB)
Downloading kiwisolver-1.4.5-cp38-cp38-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.2 kB ? eta -:--:--
   ---------------------------------------- 56.2/56.2 kB 2.9 MB/s eta 0:00:00
Downloading Pillow-10.1.0-cp38-cp38-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.6 MB 2.8 MB/s eta 0:00:01
   --- ------------------------------------ 0.2/2.6 MB 3.0 MB/s eta 0:00:01
   ----- ---------------------------------- 0.3/2.6 MB 2.7 MB/s eta 0:00:01
   -------- ------------------------------- 0.6/2.6 MB 3.1 MB/s eta 0:00:01
   ----------- ---------------------------- 0.7/2.6 MB 2.9 MB/s eta 0:00:01
   ------------- -------------------------- 0.9/2.6 MB 3.2 MB/s eta 0:00:01
   ---------------- ----------------------- 1.1/2.6 MB 3.0 MB/s eta 0:00:01
   ------------------ --------------------- 1.2/2.6 MB 3.1 MB/s eta 0:00:01
   --------------------- ------------------ 1.4/2.6 MB 3.2 MB/s eta 0:00:01
   ------------------------- -------------- 1.7/2.6 MB 3.3 MB/s eta 0:00:01
   ---------------------------- ----------- 1.9/2.6 MB 3.4 MB/s eta 0:00:01
   -------------------------------- ------- 2.1/2.6 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 2.3/2.6 MB 3.4 MB/s eta 0:00:01
   ------------------------------------- -- 2.4/2.6 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  2.6/2.6 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 3.4 MB/s eta 0:00:00
Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
   ---------------------------------------- 0.0/103.1 kB ? eta -:--:--
   ---------------------------------------- 103.1/103.1 kB 3.0 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.1 cycler-0.12.1 fonttools-4.45.0 importlib-resources-6.1.1 kiwisolver-1.4.5 matplotlib-3.7.4 pillow-10.1.0 pyparsing-3.1.1

In [16]:
import matplotlib.pyplot as plt

# Group the data by field_id and skill_id, and calculate the sum of the values
grouped = field_skill.groupby(['field_id', 'skill_id']).value.sum().reset_index()

# Get the unique field_ids
field_ids = grouped.field_id.unique()

# For each field_id
for field_id in field_ids:
    # Get the data for this field_id
    data = grouped[grouped.field_id == field_id]
    
    # Sort the data by value and get the top 12 skills
    top_skills = data.sort_values(by='value', ascending=False).head(12)
    
    # Create a bar plot
    plt.figure(figsize=(10, 6))
    plt.bar(top_skills.skill_id, top_skills.value)
    plt.title(f'Field ID: {field_id}')
    plt.xlabel('Skill ID')
    plt.ylabel('Value')
    plt.show()

KeyError: 'skill_id'