In [1]:
import pandas as pd

In [2]:
jobs = pd.read_csv('jobs_2.csv')
jobs.head()

,link,keyword,title,company,company_link,date
0,https://linkedin.com/jobs/view/business-analys...,software development,Business Analyst,Cebu Pacific Air,https://ph.linkedin.com/company/cebupacificair...,2023-09-17
1,https://linkedin.com/jobs/view/junior-software...,software development,Junior Software Engineer,Likha-iT Inc.,https://ph.linkedin.com/company/likha-it-inc?t...,2023-09-13
2,https://linkedin.com/jobs/view/developer-inter...,software development,Developer Intern | Makati,MedGrocer,https://ph.linkedin.com/company/medgrocer?trk=...,2023-09-20
3,https://linkedin.com/jobs/view/full-stack-deve...,software development,Full Stack Developer,JG Summit Holdings Inc.,https://ph.linkedin.com/company/jgshi?trk=publ...,2023-09-12
4,https://linkedin.com/jobs/view/software-engine...,software development,Software Engineer,PayMongo,https://ph.linkedin.com/company/paymongo?trk=p...,2023-06-20

In [3]:
# count keyword
jobs['keyword'].value_counts()

software development             500
data and analytics               487
design and ui/ux                 333
networking and infrastructure    248
testing and quality assurance    227
keyword                            3
Name: keyword, dtype: int64

In [5]:
# display keyword if equal  to keyword
#jobs[jobs['keyword'] == 'keyword']
# drop keyword if equal to keyword
jobs = jobs[jobs['keyword'] != 'keyword']

In [ ]:
def remove_query_parameters(url):
    if '&' in url:
        return url.split('&')[0]
    return url

In [ ]:
jobs['link_clean'] = jobs['link'].apply(remove_query_parameters)
jobs.head()

In [6]:
# Add ID column
jobs['id'] = jobs.index + 1
jobs.head()

,link,keyword,title,company,company_link,date,id
0,https://linkedin.com/jobs/view/business-analys...,software development,Business Analyst,Cebu Pacific Air,https://ph.linkedin.com/company/cebupacificair...,2023-09-17,1
1,https://linkedin.com/jobs/view/junior-software...,software development,Junior Software Engineer,Likha-iT Inc.,https://ph.linkedin.com/company/likha-it-inc?t...,2023-09-13,2
2,https://linkedin.com/jobs/view/developer-inter...,software development,Developer Intern | Makati,MedGrocer,https://ph.linkedin.com/company/medgrocer?trk=...,2023-09-20,3
3,https://linkedin.com/jobs/view/full-stack-deve...,software development,Full Stack Developer,JG Summit Holdings Inc.,https://ph.linkedin.com/company/jgshi?trk=publ...,2023-09-12,4
4,https://linkedin.com/jobs/view/software-engine...,software development,Software Engineer,PayMongo,https://ph.linkedin.com/company/paymongo?trk=p...,2023-06-20,5

In [7]:
# reorder columns
jobs = jobs[['id', 'keyword', 'title', 'company', 'link', 'company_link', 'date']]
jobs.head()

,id,keyword,title,company,link,company_link,date
0,1,software development,Business Analyst,Cebu Pacific Air,https://linkedin.com/jobs/view/business-analys...,https://ph.linkedin.com/company/cebupacificair...,2023-09-17
1,2,software development,Junior Software Engineer,Likha-iT Inc.,https://linkedin.com/jobs/view/junior-software...,https://ph.linkedin.com/company/likha-it-inc?t...,2023-09-13
2,3,software development,Developer Intern | Makati,MedGrocer,https://linkedin.com/jobs/view/developer-inter...,https://ph.linkedin.com/company/medgrocer?trk=...,2023-09-20
3,4,software development,Full Stack Developer,JG Summit Holdings Inc.,https://linkedin.com/jobs/view/full-stack-deve...,https://ph.linkedin.com/company/jgshi?trk=publ...,2023-09-12
4,5,software development,Software Engineer,PayMongo,https://linkedin.com/jobs/view/software-engine...,https://ph.linkedin.com/company/paymongo?trk=p...,2023-06-20

In [9]:
jobs.tail()

,id,keyword,title,company,link,company_link,date
1793,1794,networking and infrastructure,System Administrator AWS (Work from Home),Ease Solutions,https://linkedin.com/jobs/view/system-administ...,https://sg.linkedin.com/company/easesolutions-...,2023-09-08
1794,1795,networking and infrastructure,Senior Support Engineer,Manila Recruitment,https://linkedin.com/jobs/view/senior-support-...,https://ph.linkedin.com/company/manila-recruit...,2023-10-05
1795,1796,networking and infrastructure,Technical Support Engineer I,Avid,https://linkedin.com/jobs/view/technical-suppo...,https://www.linkedin.com/company/avid-technolo...,2023-09-26
1796,1797,networking and infrastructure,IT Systems Engineer,The Wise Seeker,https://linkedin.com/jobs/view/it-systems-engi...,https://es.linkedin.com/company/the-wise-seeke...,2023-09-29
1797,1798,networking and infrastructure,NOC Analyst I,Baker McKenzie,https://linkedin.com/jobs/view/noc-analyst-i-a...,https://www.linkedin.com/company/baker-&-mcken...,2023-10-04

In [10]:
jobs.describe()

                id
count  1795.000000
mean    899.811142
std     519.340140
min       1.000000
25%     450.500000
50%     900.000000
75%    1349.500000
max    1798.000000

In [11]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1795 entries, 0 to 1797
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1795 non-null   int64
 1   keyword       1795 non-null   object
 2   title         1795 non-null   object
 3   company       1795 non-null   object
 4   link          1795 non-null   object
 5   company_link  1795 non-null   object
 6   date          1795 non-null   object
dtypes: int64(1), object(6)
memory usage: 112.2+ KB

In [8]:
jobs.to_csv('jobs_clean_2.csv',index=False)

In [12]:
jobs = jobs.drop

In [ ]:
job_post = pd.read_csv('job_post.csv')
job_post.head()

In [13]:
jobs_clean = pd.read_csv('jobs_clean_2.csv')

In [15]:
# check if there is duplicate
jobs_clean.nunique()

id              1795
keyword            5
title            509
company          330
link            1795
company_link     330
date             125
dtype: int64

In [16]:
jobs_clean = jobs_clean.drop